<header class="header">
  <div class="header-container container">
    <div class="navigation">
      <img class="logo" src="/lashes.png" alt="Logo" />
      <h2 class="title-navigation">KarinaLashesZP</h2>
      <button class="burger-btn" type="button">
        <svg class="burger-icon">
          <use href="/symbol-defs.svg#burger-icon-svg"></use>
        </svg>
      </button>
    </div>
    <div class="my-inf">
      <img class="header-myphoto" src="/my-photo-header.png" alt="My Photo" />
      <h1 class="title-header">
        Вітаю, Я — майстер з нарощування вій і спеціалізуюсь на створенні
        виразного погляду для кожної неймовірной жінки.
      </h1>
    </div>
    <!-- MODAL WINDOW -->
    <div class="modal-window">
      <div class="modal-window-container container">
        <button class="closed-button">
          <svg class="closed-icon">
            <use href="/symbol-defs.svg#icon-cross"></use>
          </svg>
        </button>
        <nav class="my-links-navigation">
          <h2 class="header-modal-window">Мої контакти</h2>
          <ul class="link-list">
            <li class="list-item">
              <a href="tel:+380988361768">
                <svg class="tel-icon" width="36" height="36">
                  <use href="/symbol-defs.svg#icon-phone"></use>
                </svg>
              </a>
            </li>
            <li class="list-item">
              <a href="viber://chat?number=+380988361768">
                <svg class="viber-icon" width="36" height="36">
                  <use href="/symbol-defs.svg#icon-viber"></use>
                </svg>
              </a>
            </li>
            <li class="list-item">
              <a
                href="https://www.instagram.com/karina.lashes.zp__/"
                target="_blank"
              >
                <svg class="inst-icon" width="36" height="36">
                  <use href="/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="list-item">
              <a href="https://t.me/xweiqx" target="_blank">
                <svg class="telegram-icon" width="36" height="36">
                  <use href="/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
