<header class="header">
  <div class="header-container container">
    <nav class="navigation">
      <img class="logo" src="/lashes.png" alt="Logo" />
      <h2 class="title-navigation">KarinaLashesZP</h2>
      <button class="burger-btn" type="button">
        <svg class="burger-icon">
          <use href="/symbol-defs.svg#burger-icon-svg"></use>
        </svg>
      </button>
    </nav>
    <div class="my-inf">
      <img class="header-myphoto" src="/my-photo-header.png" alt="My Photo" />
      <h1 class="title-header">
        Вітаю, Я — майстер з нарощування вій і спеціалізуюсь на створенні
        виразного погляду для кожної неймовірной жінки.
      </h1>
    </div>
  </div>
</header>
