<div class="my-work-container container">
  <h2 class="my-work-title">Моя галерея робіт</h2>
  <p class="instruction-gallery">
    💗 Гортайте дотиком пальця або колесиком миші 💗
  </p>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/portfolio1.jpg"
          alt="Example of work"
          class="portfolio-img-work"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/portfolio2.jpg"
          alt="Example of work"
          class="portfolio-img-work"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/portfolio3.jpg"
          alt="Example of work"
          class="portfolio-img-work"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/portfolio4.jpg"
          alt="Example of work"
          class="portfolio-img-work"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/portfolio5.jpg"
          alt="Example of work"
          class="portfolio-img-work"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/portfolio6.jpg"
          alt="Example of work"
          class="portfolio-img-work"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/portfolio7.jpg"
          alt="Example of work"
          class="portfolio-img-work"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/portfolio8.jpg"
          alt="Example of work"
          class="portfolio-img-work"
          loading="lazy"
        />
      </div>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <div class="swiper-scrollbar"></div>
  </div>
</div>
