<div class="services-container container">
  <h2 class="services-title">Види нарощування</h2>
  <div class="types-services">
    <ul class="services-list">
      <li class="services-item">
        <p class="text-services">Вигини</p>
        <p class="text-services types-of-sections">
          СС, С, D, L, B, J (0.07, 0.10)
        </p>
      </li>
      <li class="services-item">
        <p class="text-services">Ефекти</p>
        <p class="text-services types-of-sections">
          Лисичка, Кукла - лиса, <br />
          Кукла, Білка, <br />Натуральний
        </p>
      </li>
      <li class="services-item">
        <p class="text-services">Кольори</p>
        <p class="text-services types-of-sections">Різноманіття</p>
      </li>
      <li class="services-item">
        <p class="text-services">Довжина</p>
        <p class="text-services types-of-sections">7мм - 20мм</p>
      </li>
    </ul>
  </div>
</div>
