<div class="why-me-container">
  <div class="container">
    <h2 class="section-two-title">Чому саме Я - ваш вибір?</h2>
    <ul class="client-list">
      <li class="client-list-item">
        <p class="sec-achievements">200+</p>
        <p>Клієнток</p>
      </li>
      <li class="client-list-item">
        <p class="sec-achievements">1 РІК</p>
        <p>Досвіду</p>
      </li>
      <li class="client-list-item">
        <p class="sec-achievements">ТОП</p>
        <p>Матеріали</p>
      </li>
      <li class="client-list-item">
        <p class="sec-achievements">ГАРНА</p>
        <p>Атмосфера</p>
      </li>
    </ul>
  </div>
</div>
