<div class="why-me-container container">
  <h2 class="section-two-title">Чому саме Я - ваш вибір?</h2>
  <ul class="client-list">
    <li class="client-list-item">
      <p class="sec-achievements">200+</p>
      <p class="sec-description">Клієнток</p>
    </li>
    <li class="client-list-item">
      <p class="sec-achievements">1 РІК</p>
      <p class="sec-description">Досвіду</p>
    </li>
    <li class="client-list-item">
      <p class="sec-achievements">ТОП</p>
      <p class="sec-description">Матеріали</p>
    </li>
    <li class="client-list-item">
      <p class="sec-achievements">ГАРНА</p>
      <p class="sec-description">Атмосфера</p>
    </li>
  </ul>
</div>
