.my-work-container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.my-work-title {
  font-family: 'Edu AU VIC WA NT Pre', cursive;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.07em;
  color: #353535;
  text-transform: capitalize;
}

.swiper {
  margin-top: 24px;
}

.portfolio-img-work {
  border-radius: 10%;
}
