@import url('./css/reset.css');
@import url('./css/media.css');
@import url('./css/header.css');
@import url('./css/why-me.css');
@import url('./css/my-works.css');
@import url('./css/services.css');

body {
  font-family: 'Raleway', sans-serif;
  color: #000;
  background: rgb(254, 247, 255);
  background: linear-gradient(
    180deg,
    rgba(254, 247, 255, 1) 0%,
    rgba(255, 241, 254, 1) 50%,
    rgba(254, 247, 255, 1) 100%
  );
}

.body-lock {
  overflow: hidden;
}
