@import url('./css/reset.css');
@import url('./css/media.css');
@import url('./css/header.css');
@import url('./css/why-me.css');
@import url('./css/my-works.css');
body {
  font-family: 'Raleway', sans-serif;
  color: #000;
  background-color: #fff4f4;
}
